.calc-row {
  > div{
    &:not(.funcGroup){
      display: inline-flex;
      padding: 10px;
      background: #ccc;
      margin: 2px;
      cursor: pointer;
    }
    &.funcGroup{
      > div{
        display: inline-flex;
        padding: 10px;
        background: #ccc;
        margin: 2px;
        cursor: pointer;
      }
    }
  }
  .funcGroup {
    display: inline-flex;
  }
}

.calc-row{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  width: 200px;
  &.inline{
    display: inline-flex;
  }
  &:not(:last-child) div[itemprop="func"] {
    width: 17px;
  }
  &:last-child div:not(.funcGroup)[itemprop="func"] {
    width: 25px;
  }
  .item{
    flex-basis: 20%;
    align-self: flex-start;
  }
  div[itemprop="result"] {
    width: 94px;
  }
  div[itemprop="result"] input {
    width: 100%;
  }
  div[itemprop="numeric"] {
    width: 29px;
  }
}