.BoxMarquee {
    background: #ededed;
    padding: 10px;
    margin: 10px 0;
    transition: all 300ms ease-in;
}

.BoxMarquee[data-state="true"]{
    opacity: 1;
    height:150px;
}
.BoxMarquee[data-state="false"]{
    opacity: 0;
    height:0;
}
.BoxMarquee-Toggle {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    z-index: 999;
}

.BoxMarquee-Container {
    position: relative;
}